{% extends "index.html" %}

{% block content %}
    {{ form.non_field_errors }}
    <form method='POST'>
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% if field.help_text %}
                {{ field.help_text|safe }}
            {% endif %}
        {% endfor %}
        <input type='submit' value='Update profile' />
    </form>
    <a href = "{% url 'account_change_password' %}">change password</a>
{% endblock %}
