<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
    {% block head_js %}{% endblock %}
  </head>

  <body>
    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if request.user.is_authenticated %}
      <a href = "{% url 'account' %}">profile</a>
      <a href = "{% url 'account_settings' %}">settings</a>
      <a href = "{% url 'signout' %}">sign out</a>
    {% else %}
      <a href = "{% url 'signup' %}">sign up</a>
      <a href = "{% url 'signin' %}">sign in</a>
    {% endif %}

    {% block content %}{% endblock %}
    {% block body_js %}{% endblock %}
  </body>

</html>